<app-guest-layout>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    <!-- TODO: Replace with true content once resources are set up -->
    <app-video
      *ngFor="let index of [1, 2, 3, 4, 5]; let key = index"
      [url]="'https://www.youtube.com/embed/L7-c-LbNq9I?si=iMUMrsbZhgQJrsNu'"
    >
      <h3 title>Title for video n°{{ index }}</h3>
      <p description>
        {{ "Uploader name here" | substring : 50 }}
      </p>
    </app-video>
  </div>
</app-guest-layout>
