<app-client-layout>
  <div class="flex flex-col gap-y-10">
    <h1 appPageTitle>Mes videos</h1>
    <a
      href="/videos/create"
      class="w-fit p-2 rounded-md bg-synth-blue-500 hover:bg-synth-blue-600 text-white self-end"
      >Uploader une video</a
    >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
    >
      <app-video *ngFor="let video of videos; let key = index" [video]="video"></app-video>
      <p *ngIf="videos.length === 0" class="col-span-full text-center">
        Pas de video à afficher
      </p>
    </div>
  </div>
</app-client-layout>
