<app-guest-layout>
  <div class="flex justify-center">
    <form
      class="flex flex-col gap-y-4 w-full md:w-1/3 border border-synth-blue-600 rounded-md p-8 bg-synth-pink-950"
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
    >
      <h3 class="text-xl font-semibold text-center">Connexion</h3>
      <h4
        *ngIf="userExists == false"
        class="text-red-600 text-center font-semibold text-lg"
      >
        Email ou mot de passe incorrect
      </h4>
      <app-input
        [value]="loginForm.value.email"
        (newValue)="updateValue('email', $event)"
        [required]="true"
      >
        <p label>Email</p>
        <div errors>
          <small *ngIf="loginForm.get('email')?.hasError('required')">
            This field is required.
          </small>
          <small *ngIf="loginForm.get('email')?.hasError('email')">
            This field must be a valid email
          </small>
        </div>
      </app-input>

      <app-input
        [value]="loginForm.value.password"
        (newValue)="updateValue('password', $event)"
        [required]="true"
        [type]="'password'"
      >
        <p label>Mot de passe</p>
        <div errors>
          <small *ngIf="loginForm.get('password')?.hasError('required')">
            This field is required.
          </small>
        </div>
      </app-input>

      <button
        [disabled]="!this.loginForm.valid"
        type="submit"
        class="py-2 text-white rounded-md bg-synth-blue-400 hover:bg-synth-blue-500 disabled:bg-synth-blue-300"
      >
        Connexion
      </button>
      <a href="/register" class="text-sm text-right hover:underline"
        >Vous n'avez pas de compte ? Inscrivez-vous</a
      >
    </form>
  </div>
</app-guest-layout>
